<head>
<link rel="stylesheet" type="text/css" href="index.css"/>
</head>
<body  class="small login">
<div id="header">	
	<p>Comfirm Page</p>
</div>
<div id="container">
    <div id="content" >
    	<div class="wrapper">
<table class="login" style="margin-left: auto; margin-right: auto;"><font size="5">
<tr><td>username: <%= @username %></tr></td>
<% @password %>
<tr><td>firstname: <%=@firstname %></tr></td>
<tr><td>lastname: <%=@lastname %></tr></td>
<tr><td>birth day: <%=@month%>/<%=@day%>/<%=@year%></tr></td>
<% @birthday='1/1/2016' %>
<tr><td>gender: <%=@gender%></tr></td>
<tr><td>email: <%= @email %></tr></td>
<tr><td>addressline: <%= @addressline %></tr></td>
<tr><td>city: <%= @city %></tr></td>
<tr><td>state: <%= @state %></tr></td>
<tr><td>state: <%= @phone %></tr></td>
<tr><td>
<% users = User.where(:username => @username).first %>
<% if users %>
<font color="red">
 Sorry, this username has been registered.
</font>
<% else %>
<%=link_to ('Save'), {
:controller=> 'irehab',
:action=> 'save',
:username=> @username,
:firstname=>@firstname,
:lastname=>@lastname,
:gender=>@gender,
:birthday=>@birthday,
:password=> @password,
:email=> @email,
:city=> @city,
:state => @state,
:phone => @phone
 }%>
<% end %>
</tr></td>
<tr><td>
<input type="button" value="Cancel" onClick="window.location.href='registration.html';">
</tr></td>
</font>
</table>
		</div> <!-- wrapper -->
	</div> <!-- content -->
</div> <!-- container -->
</body>
